<div class="form-wp">
  <div class="form-header">
    <h3 class="form-header-text">
      完了しました
    </h3>
  </div>

  <%= link_to "占い結果を見てみる", augury_results_path(@augury), class: "send-second-bot" %>
</div>