/* ヘッダー */
header {
  height: 50px;
  background-color: #f0f0f0;
  padding: 10px 0;
  display: flex;
}

.heading {
  width: 50%;
  margin-left: 30px;
  padding: 15px;
}

a {
  text-decoration: none;
}

.title {
  font-size: 25px;
  color: blueviolet;
}

.navbar {
  width: 50%;
  padding: 10px;
}

.nav-list {
  margin-right: 20px;
  padding: 5px 30px;
  display: flex;
  justify-content: flex-end;
}

.nav-new {
  color: black;
  display: flex;
  margin-right: 40px;
}

.nav.login {
  color: black;
  display: flex;
  margin-right: 40px;
}

li {
  list-style: none;
}

/* 投稿ページ */
.form-wp {
  width: 50%;
  background-color: white;
  padding-bottom: 200px;
  padding-left: 350px;
}

.form-header {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 22px;
}

.form-header-text {
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;
}

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-group:first-child {
  padding: 0;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 14px;
  font-weight: bold;
}


.input-birth-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input-birth-wrap select {
  width: 75px;
  margin-top: 5px;
  height: 45px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 12px;
  cursor: pointer;
}

.input-birth-wrap p {
  line-height: 60px;
  padding: 0 5px;
}

.register-btn {
  width: 30%;
  background: palevioletred;
  border: 1px solid palevioletred;
  color: #fff;
  margin-top: 40px;
  margin-left: 265px;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

/* 共通 */
.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.input-default {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

/* btn */
.actions {
  padding-left: 320px;
  padding-top: 30px;
}

/* 詳細ページ */
.send-second-bot {
  top: 100px;
  left: 150px;
  margin: 100px;
  padding: 30px;
  border: 1px solid white;
  background-color: #b5aaaa;
  color:white;
  display: block;
  text-align: center;
}

/* 結果ページ */

.main-tc {
  padding: 10px;
}

.main-second {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 10vw;
  margin-left: 70px;
  color: rgb(159, 72, 75);
  text-shadow: 0 0 5px rgb(0 0 0 / 90%);
}

.text-message {
  display: flex;
  padding-bottom: 30px;
  text-align: center;
  font-size: 6vh;
}

.bottom-btn {
  width: 30%;
  background: palevioletred;
  border: 1px solid palevioletred;
  color: #fff;
  margin-left: 280px;
  line-height: 100px;
  font-size: 25px;
}
/* first-viewクラスからbottom-contentクラスまでの要素の親要素 */
.contents {
}

.first-view{
  height: 70vh;
  text-shadow: 0 0 5px rgb(0 0 0 / 90%);
  position: relative;
}

.top-image {
  height: 100%;
  width: 100%;
  opacity: 70%;
}

.service-title {
  font-size: 8vh;
  position: absolute;
  top: 40px;
  left: 30px;
  color: rgba(84, 50, 44, 32);
  -webkit-text-stroke: 1px #FFF;
  stroke-linejoin: 1px #FFF;  padding: 20vh 20vw;
}

.service-explain {
  position: absolute;
  font-size: 3vh;
  line-height: 40px;
  top: 40px;
  left: 30px;
  color: #f0f0f0;
  padding: 33vh 30vw;
}

.logo {
  font-size: 38px;
  position: absolute;
  color: pink;
  top: 40px;
  left: 30px;
  text-align: center;
}

.send-bot {
  position: absolute;
  top: 100px;
  left: 150px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid white;
  background-color: blueviolet;
  color:white;
  display: block;
  text-decoration: none;
}

/* 情報 */
.upper-content{
  height: 450px;
  margin: 0 160px;
}

.heading-name {
  font-size: 3vh;
  text-align: center;
  border-bottom: 1px solid red;
  width: 200px;
  margin: 40px auto;
  padding-bottom: 15px;
}

.messages {
  width: 50vw;
  margin: 0 auto;
  padding: 10px;
  margin-top: 50px;
}

.message {
  display: flex;
  font-size: 18px;
  margin: 0 0 16px 70px;
}

.message-date {
  padding-right: 40px;
  padding-bottom: 10px;
}

/* 紹介 */
.middle-content {
  height: 450px ;
  margin: 0 160px;
}

.stylist-list {
  display: flex;
  justify-content: space-around;
  margin: 60px 0;
}

.stylist-image {
  height: 300px;
  width: 300px;
}

.stylist-name {
  font-size: 16px;
  text-align: center;
}

/* お問合せ */
.bottom-content {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-field, .large-field {
  width: 800px;
  font-size: 16px;
  padding: 15px;
  border: 1px solid #b5aaaa;
  display: block;
}

.small-field {
  margin: 0 auto 15px;
}

.large-field {
  height: 200px;
  margin: 0 auto 30px;
}

.send {
  width: 200px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid white;
  background-color: lightblue;
  color:white;
  display: block;
}

/* フッター */

.footer {
  background-color: #999;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}
